<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88652102-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"> The Shartificial Intelligence Agency</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#mission">Our Mission</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#writerbots">WriterBots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#robots">We're Hiring Robots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#lesguessing">About SIA</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">The World's First Creative Ad Agency Staffed entirely with Copywriter Robots</h1>
                <hr>
                <h3>Because sometimes "good enough" is too good.</h3>
                <a href="#mission" class="btn btn-primary btn-xl page-scroll">Check this shit out!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">There's Riches in Niches, Bitches!</h2>
                    <hr class="light">
                    <p class="text-faded">Lately, we’ve heard a lot of bitchin’ and moanin’ <a href="http://www.campaignlive.co.uk/article/write-now-lost-art-copywriting/1367331#" style="color:white;">in the press</a>, and among copywriter friends, about how social media has caused the craft and quality of ad copy to decay like British teeth. At some point over the last few years, ad prose from ad pros has fermented into “consumable content”. Who among us hasn’t been asked by a designer-type to write them “a chunk of text about this big”? There’s obviously a niche market for that. So we say, "Let's go with it". Sometimes surrendering just means you want to be on the winning side. After all, as Author/Futurist Kevin Kelly says, “Productivity is for robots.”
</p>
                    <a href="#writerbots" class="page-scroll btn btn-default btn-xl sr-button">Click for <em>FREE</em> AI Copywriting!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="writerbots">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our RichSiegelBot</h2> <h2 class="section-heading">Now serving Blog, Tweet and Planner Snark Copy – <em>FREE</em></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <div class="team-member">
                        <img src="/static/img/rich.jpg" class="img-responsive img-circle" alt="">
                        <h3><b>Rich Siegel</b></h3>
                        <p></p>
                        <p><a href="https://siegelrich.carbonmade.com/" target="_blank">Portfolio</a></p>

                        <p class="text-muted"><a href="http://roundseventeen.blogspot.com/" target="_blank">Blog</a></p>
                        <p class="text-muted"><a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=Rich+Siegel" target="_blank">Books</a></p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 text-left">
                    <p>Rich Siegel is a super-talented, 44-year-old Copywriter/CD/Author/Blogger who has freelanced or worked on staff at nearly every major creative ad agency in Los Angeles. Producing a truckload of award-winning work in nearly every product category and every type of media. He's truly one of the funniest, smartest, most talented copywriters in the country. So if you're looking for that kind of great work, we highly recommend that you contact Rich (<a href="#anchor">or this guy:)</a>. But if that kind of work doesn't really interest you, start clicking some buttons. We webscraped, then hijacked, the over 1500 entertaining blog posts Rich has written over the last 6 years and, using an Artificial Intelligence algorithm known as Markov Chain Text Generation, SIA is now serving up fun, filler, robot fresh copywriting for FREE!</p>
                </div>
                <div class="col-lg-8 col-md-8 text-left">
                    <div id='sentences'>
                      <h4><b>Need interesting blog copy? Just enter the number of sentences and click.</b></h4>
                      <input type="number" value="3" id="numberOfSentences" style="border:1px solid #f05f40" / />
                      <button id="generate" class="btn btn-primary">Click for Blog Copy</button>
                      <h5 id="sentencesContainer"></h5>
                    </div>
                    <br></br>
                    <div id='tweets'>
                      <h4><b>Need a random fun tweet?</b></h4>
                      <button id="generateATweet" class="btn btn-primary">Click for Tweet copy</button>
                      <h5 id="tweetContainer"></h5>
                    </div>
                    <br></br>
                    <div id='snarks'>
                      <h4><b>Want a snarky comment about Account Planners?</b></h4>
                      <button id="generateASnark" class="btn btn-primary">Click for Snark</button>
                      <h5 id="snarkContainer"></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="robots">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"> We’re Now Hiring Robot Copywriters!</h2>
                    <hr class="light">
                    <p class="text-faded">Of course, we’re not paying them anything. (That’s the beauty of hiring robots.) But if any of you want to be “roboted”, and you have a blog with a quite a few blogposts (AI requires a lot of data.), send an email. Nope, we won’t be paying you anything either but it’s probably good practice for the future when we all get kicked to the curb. Some of the talent we’d love to bot include: Jeff Goodbot, Jeff Gelbot, Botbara Lippert, Droga 6.0, David Lubot, Rick Rosenbot, and Alex Botgusky, just to name a few.
</p>
                    <a href="#lesguessing" class="page-scroll btn btn-default btn-xl sr-button">Where do we apply?</a>
                </div>
            </div>
        </div>
    </section>

<section id="lesguessing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><b><u>Les Guessing & CreativeAlgorithm.org </u></b></h2> <h2 class="section-heading">“I mine text and data to create great ad strategies, concepts and content.”</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <div class="team-member">
                        <img src="/static/img/les_guessing.jpg" class="img-responsive img-circle" alt="">
                        <h3><b>Les Guessing</b></h3>
                        <p></p>
                        <p><b>Freelance Copywriter / Creative Data Hacker / Video / Editing / Web Dev</b></p>
                        <p></p>
                        <p><a href="http://creativealgorithm.org/" target="_blank">CreativeAlgorithm.org</a></p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 text-left">
                    <p> <a name="anchor"></a> <b>I have a rabid interest in using data (especially text data) to make advertising creative better, more engaging, more entertaining and more efficient.</b> I’m an Emmy-winning Copywriter/CD who has freelanced in Los Angeles for a couple of decades. I was CD on NFL on Fox for 2 years and the Acura National brand for 2 years. I studied cinematography at UCLA, and shoot, light, edit and do some motion graphics in After Effects and Animate cc.</p> 

                    <p>In the last 4 years or so, I’ve developed an almost unhealthy interest in how data analysis & analytics, data science, Machine Learning and Natural Language Processing (subsets of Artificial Intelligence) can be used in the advertising creative arena. I can do creative work in the Python, SQL, JavaScript/JQuery, HTML, CSS programming languages. It’s a little hard to explain how all that learnin’ ties together into something coherent and valuable. So this website/app is a good, simple example of the kind of things I want to do.</p>

                    <p>I wrote a program in Python to webscrape 6 years of Rich Siegel’s blog. Then I took that scraped text and piped it into a Markov Chain Text Generator algorithm. And embedded it into this website/app I built using Python’s Flask framework, (along with HTML, CSS, Bootstrap and JQuery). I’m hoping it entertained you enough that you will check out my real website, <a href="http://creativealgorithm.org/" target="_blank">CreativeAlgorithm.org</a>.</p> 
                    <p><b>I’m looking to freelance as a Copywriter / Creative Data Hacker / Strategist / Content Creator.  Let’s do a project together???</b></p>
                </div>
            </div>
                <div class="container">
                    <p><div class="col-md-10"><img class="center-block"<img src="/static/img/contact_info_sm.jpg" class="img-responsive"></p></div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
    <div class="container">
        <div class="text-center center-block">
                <a href="https://linkedin.com/in/lesguessing"><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i></a>
                <a href="https://twitter.com/lesguessing"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://snapchat.com/add/lesguessing"><i id="social-tw" class="fa fa-snapchat-square fa-3x social"></i></a>
                <a href="https://www.instagram.com/lesguessing/"><i class="fa fa-instagram" style="font-size:44px;color:#f05f40"></i></a>

        </div>
        <p></p>
                <p><small>Copyright © 2016 Creative Algorithm.
                    All rights reserved.</small></p>
            </div>
        </div>
    </aside>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/creative.min.js"></script>


</body>

</html>
